.aprendizados{
    display: flex;
    flex-direction: row;
    gap:3rem;
}
.aprendizados>*{
    flex:1;
}
.aprendizados h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}
.aprendizados p{
    margin-bottom: 1rem;
}


* {box-sizing:border-box}
.barra_vazia{
    width: 100%;
    background-color: var(--cor3);/* cor do funto da skill */
    margin-bottom: 1rem;
    border-radius: 16px;
}


.skills {
    text-align: right; /* Right-align text */
    padding-right: 4px;
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: var(--cor2); /* White text color */
    border-radius: 16px;
}

.avançado {width:100%; background-color: var(--cor5);}
.intermediario {width: 80%; background-color: var(--cor5);} /* Green */
.basico {width: 60%; background-color: var(--cor5);}



@media (max-width: 800px) {

    .aprendizados{
        flex-direction: column;
        gap:.75rem;
    }


    .aprendizados h1{
        font-size: 1.25rem;
        text-align: center;
    }

    .aprendizados p{
        text-align: center;
    }

}