:root{
    --cor1: #114B5F;
    --cor2: #1A936F;
    --cor3: #88D498;
    --cor4: #C6DABF;
    --cor5: #C6DABF;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor4);
    text-decoration-color: var(--cor1);
}

.container {
    padding-right: 6%;
    padding-left: 6%;
    border: var(--cor1);
}
.absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid{
    display: grid;
    place-items: center;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.margin{
    width: 200px;
    height: 200px;
    margin: auto;
}


