:root{
    --cor1: #ffffff;
    --cor2: #1A936F;
    --cor3: #88D498;
    --cor4: hsl(0, 0%, 63%);
    --cor5: #000000;

    font-family: 'Montserrat', sans-serif;
}

body {
    background-color:var(--cor5);
    text-decoration-color: var(--cor1);
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}
.absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid{
    display: grid;
    place-items: center;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.margin{
    width: 200px;
    height: 200px;
    margin: auto;
}


