
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  color: var(--branco);

  width: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: right;

  padding-top: .75rem;
  padding-bottom: .75rem;

  border-bottom: 1px solid var(--cinza-escuro);
}
