header{
    width: 100%;
    box-sizing: border-box;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

/*Itens da barra: logo e barra de navegação*/

header nav{
    /*transform-style: preserve-3d;*/   
    padding: 1em;
}

.itens_navbar{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    transform-style: preserve-3d;   
    padding: 1em;
}

/*header img{
    
    margin-bottom: 1rem;
    
    max-width: 210px;
    align-self: center;
}
Logo que havia colocado e nao consegui adequar*/



.titulo{
    color: var(--cor1);
}

.itens_navbar li{
    display: flex;
    position: center;
    margin-right: .7rem;
    margin-bottom: 2rem;
    margin-left:0.7rem;
    border-radius: .7rem;
    
}

    


/* caracteristica dos itens de navegação*/
.itens_navbar a{
    align-items: baseline;
    
    font-size: 25px;
    text-align: center;
    text-decoration: none;/* tirando o texto feio, padrao*/
    color: var(--cor2);
    padding: 12px;
    
}


.itens_navbar a:hover, .itens_navbar a:focus{
    border-radius: .7rem;
    transition: 1s;
}


/* mudando para desktop*/
@media screen and (max-width: 685px) {
    
    .itens_navbar li{
        background: var(--cor5);
        color: var(--cor2);
    }

    .itens_navbar{
        flex-direction: column;
    }
    .logo{
        align-self: flex-start;
        margin-left: 2rem;
    }
    header{
        align-items: center;
    }
}
