section{
    display: flex;
    position: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor2);
    padding: auto;
}
section p, h2{
    color: var(--cor5);
}

.introdução{
    align-items: center;
}

.minhafoto{
    margin-top: 1rem;
    border-radius: 16px;
    width: 50vw;
    max-width: 420px;
    border-radius: 50%;
    margin-bottom: 12px;

}

.contatos{
    display: flex;
    
}

@media screen and(min-width: 768px) {
    section{
        width: 70%;
    }
}


