.exp_section{

    

}
.exp_section h1{

    text-align: center;
    margin-bottom: 1rem;
}

.exp_section h2{
    color: var(--cor1);
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
.exp_section p{
    text-align: justify;
}

.exp_section div{
    margin-top: 6%;
    margin-botton: 6%;
}