header{
    width: 100%;
    background-color: var(--cor4);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;
}

.titulo{
    color: var(--cor3);
}


.navbar{
    align-items: center;
    text-align: center;
    text-decoration: none;
    
}
.navbar li{
    font-size: 1.1rem;
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left:0.7rem;
}

.navbar a{
    text-decoration: none;
    color:var(--cor1);
    background: var(--cor2);
    padding: 12px; 
    margin: .7rem;
    border-radius: .7rem;
}

.navbar a:hover, .navbar a:focus{
    background: var(--cor3);
    transition: 1s;
}

.logo{
    margin-bottom: 1rem;
    width: 100vw;
    max-width: 410px;
}

