
footer{
    color: var(--cor2);
    width: 100vw;

}

.rodape{
    
    
    margin-top: -200px;
    
    border-top: solid 1px;
    margin-top: 12px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}